<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div *ngIf=" test===true ; else sinon">
<app-navbar-admin ></app-navbar-admin>
</div>
<ng-template #sinon><app-navbar-user></app-navbar-user></ng-template>

<div class="container"  id ="main-containerfour">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Gerer<b> Fournisseur</b></h2>
                </div>
                <div class="col-sm-6">
                    <a  (click)="onOpenModalfour(null,'add')"   class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter Fournisseur</span></a>
                 					
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Telephone</th>
                   <th></th> 
                  
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let f of fournisseurs" >
                   
                    <td>{{f.nom_fournisseur}}</td>
                    <td>{{f.email_fournisseur}}</td>
                    <td>{{f.adresse_fournisseur}}</td>
                    <td>{{f.tel_fournisseur}}</td>
                   
                    <td>
                        <a (click)="onOpenModalfour(f, 'edit')"  class=" btn edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        <a (click)="onOpenModalfour(f,'delete')" class=" btn delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>





<!-- add Modal HTML-->

<div id="addModalfour" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #addFormfour="ngForm" (ngSubmit)="onAddFournisseur(addFormfour)">
                <div class="modal-header">						
                    <h4 class="modal-title">Ajouter fournisseur</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <div class="form-group">
                        <label>Nom</label>
                        <input  type="text" ngModel name="nom_fournisseur" class="form-control" required>
                    </div>		
                    <div class="form-group">
                        <label>Email</label>
                        <input  type="email" ngModel email="true"   name="email_fournisseur" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Adresse</label>
                        <input  type="text" ngModel name="adresse_fournisseur" class="form-control" required>
                    </div>	
                    <div class="form-group">
                        <label>Telephone</label>
                        <input  type="text" ngModel name="tel_fournisseur" class="form-control" required>
                    </div>		
                </div>
                <div class="modal-footer">
                    <input type="button" id="btn_annuler_add_four" class="btn btn-default" data-dismiss="modal" value="Annuler">
                    <input type="submit" [disabled]="addFormfour.invalid" class="btn btn-success" value="Ajouter">
                </div>
            </form>
        </div>
    </div>
</div>




	<!-- Edit Modal HTML -->
	<div id="editModalfour" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form #editFormfour="ngForm">
					<div class="modal-header">						
						<h4 class="modal-title">Modifier Fournisseur</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
                    <input  type="hidden" ngModel="{{editFournisseur.id_fournisseur}}" name="id_fournisseur" >
                    <div class="modal-body">					
                        <div class="form-group">
                            <label>Nom </label>
                            <input  type="text" ngModel="{{editFournisseur.nom_fournisseur}}" name="nom_fournisseur" class="form-control" required>
                        </div>		
                        <div class="form-group">
                            <label>Email </label>
                            <input  type="email" ngModel="{{editFournisseur.email_fournisseur}}" name="email_fournisseur" class="form-control" required>
                        </div>	
                        <div class="form-group">
                            <label>Adresse </label>
                            <input  type="text" ngModel="{{editFournisseur.adresse_fournisseur }}" name="adresse_fournisseur" class="form-control" required>
                        </div>	
                        <div class="form-group">
                            <label>Telephone </label>
                            <input  type="text" ngModel="{{editFournisseur.tel_fournisseur}}" name="tel_fournisseur" class="form-control" required>
                        </div>		
                    </div>
                    <div class="modal-footer">
                        <input type="button" id="btn_annuler_edit_four" class="btn btn-default" data-dismiss="modal" value="Annuler">
                        <input type="submit"  [disabled]="editFormfour.invalid"  (click)="onEditFournisseur(editFormfour.value)"  class="btn btn-success" value="Modfier">
                    </div>
				</form>
			</div>
		</div>
	</div>





	<!-- Delete Modal HTML -->
<div id="deleteModalfour" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">Supprimer Fournisseur</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <p>Etes vous sur de  suprrimer cet élement?</p>
                    <p class="text-warning"><small>Cette  opération  peut etre annulée</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" id="btn_annuler_delete" class="btn btn-default" data-dismiss="modal" value="Annuler">
                    <input  (click)="onDeleteFournisseur(deletedFournisseur.id_fournisseur)"   type="submit" class="btn btn-danger" value="Supprimer">
                </div>
            </form>
        </div>
    </div>
</div>