<nav class="nav">
  <button onclick="mobileMenu()" id="menuBars" type="button" class="toggle"><i id="menuIcon" class="fa-solid fa-bars animatedtoggle"></i></button>
  <a  routerLink="/User"><img alt="Pierce County Logo" class="logo" src="assets/images/pharmacie_logo.png"></a>
  <ul id="menuList" class="menu inactive">
    <li class="item active"><a  routerLink="/User"> Accueil</a></li>
    <li class="nav-item dropdown item ">
      <a class="nav-link  item dropdown-toggle" routerLink="/produit" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Produit
      </a>
      <div class="dropdown-menu " c aria-labelledby="navbarDropdown">
        <a class="dropdown-item item "  routerLink="/produit">Gérer Produit </a>
        <div class="dropdown-divider item "></div>   
        <a class="dropdown-item item "  routerLink="/categorie">Gérer Catégorie </a>
        <div class="dropdown-divider item "></div> 
        <a class="dropdown-item item " routerLink="/laboratoire">Gérer Laboratoire </a>
        <div class="dropdown-divider item "></div>
        <a class="dropdown-item item "  routerLink="/commande">Gérer Commande</a>
        <div class="dropdown-divider item "></div>
        <a class="dropdown-item item "  routerLink="/facture">Gérer facture</a>
      </div>
  </li>
  <li class="nav-item dropdown item ">
    <a class="nav-link  item dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Plus
    </a>
    <div class="dropdown-menu " c aria-labelledby="navbarDropdown">
      <a class="dropdown-item item "  (click)="deconnecter()">Deconnecter  </a>
      <div class="dropdown-divider item "></div>
      <a class="dropdown-item item "  routerLink="/update">Modifier Profile</a>
      </div>
      </li>
    <li class="item"><a routerLink="/fournisseur">Fournisseurs</a></li>
  

   
  </ul>
</nav>