          <div class="login-page">
        <div class="form">
          <form name="f" #addFormphar="ngForm" (ngSubmit)="onAddPharmacien(addFormphar)" > 
              <lottie-player id="firstLottie" src="https://assets5.lottiefiles.com/packages/lf20_jcikwtux.json" background="transparent"
                speed="1"
                style="justify-content: center"
                loop
                autoplay></lottie-player>
            <input type="text" placeholder="Nom"  ngModel name="nom_phar" required/>
            <input type="text" placeholder="Prenom" ngModel name="prenom_phar" required/>
            <input type="email"  email="true" placeholder="Email" ngModel name="email_phar" required />
            <input type="date"   placeholder="Date de naissance" ngModel name="DateNaissance_phar" required />
            <input type="number"   placeholder="Code  postal" ngModel name="codePostal_phar" required />
            <input type="text"   placeholder="Nom Utilisateur" ngModel name="username" required />
             <input type="password" ngModel name="password" class="mdp" placeholder="Mot de passe" required  />
           
            <input [disabled]="addFormphar.invalid" type="submit" id="b1" value="Creer Compte" >
            <a style="color: aliceblue" routerLink="/login">Vous Avez deja  un  compte? Cliquer pour s'authentifier!! </a>
          </form>          
         
        </div>
      </div>
  
    
  