          <div class="login-page">
        <div class="form">
          <form name="f" #addFormphar="ngForm" (ngSubmit)="onAddPharmacien(addFormphar)" > 
              <lottie-player id="firstLottie" src="https://assets5.lottiefiles.com/packages/lf20_jcikwtux.json" background="transparent"
                speed="1"
                style="justify-content: center"
                loop
                autoplay></lottie-player>
            <input type="text" placeholder="Nom"  ngModel name="nom_phar" required/>
            <input type="text" placeholder="Prenom" ngModel name="prenom_phar" required/>
            <input type="email"  email="true" placeholder="Email" ngModel name="email_phar" required />
            <input type="password" ngModel name="password" class="mdp" placeholder="Mot de passe" required  />
           
             <i class="fas fa-eye"  id="show" onclick="show()"></i>
            <input class=bt [disabled]="addFormphar.invalid" type="submit" id="b1" value="Creer Compte" >
          </form>          
         
        </div>
      </div>
  
    
  